.auam-login #login h1 a, .login h1 a {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;

}

.auam-login #loginform .forgetmenot {
    float: none;
}
.auam-login #login .button-primary {
    width: 100%;
    margin: 12px 0 0;
    padding: 6px 0;
    border-radius: 6px;
    background: #248aff;
    border: 0;

}

.auam-login #loginform, .auam-login #lostpasswordform {
    border: 0;
    padding-bottom: 20px;
    margin: 0;
    box-shadow: inherit;

}

.auam-login {
    background: #e9e4d9;
}
.auam-login #login {
    background: #fff;
    border-radius: 12px;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 100px;

}

.auam-login #login #nav {
    float: right;
    margin: 0;

}

.auam-login #login #backtoblog {
    float: left;
    margin: 0 25px;
    padding: 0;

}

.auam-login #login #nav {
    padding: 0 16px;

}

.auam-login #registerform {
    border: 0;
    padding: 0 24px 34px;

}

.auam-login #login form {
    padding-top: 10px;

}

.auam-login #login {
   width: 340px;
   padding-left: 10px;
   padding-right: 10px;

}